body {
	font:16px Arial, sans-serif;
	padding:0;
	margin:0;
}
#header {
	width:100%;
	margin: 30px auto;
	background-color: #ed6c4b;
}
#name {
	display:table;
	background-color: white;
	color:#ed6c4b;
	border-radius:50px;
	padding:10px 40px;
	font:36px "Gloria Hallelujah";
	margin:0 20px;
	cursor:default;
	user-select: none;
}
#input {
	margin: auto;
	display:table;
	font-size:23px;
	user-select:none;
}
#selectors {
	display:inline-table;
	margin-right:5px;
}
.selector {
	background-color:#F2F2F2;
	padding:0;
}
#buttons {
	display:inline-table;
}
#indicator {
	margin:50px auto 0px auto;
	padding:0;
	display:none;
}
#indicator dvg,#indicator object {
	padding:0;
	width:128px;
	height:128px;
}
#selectorsedit{
	display:table;
	margin:10px auto;
}
#selectorsrm {
}

#rides, #tours {
	width:100%;
	padding:0;
	margin:auto;
}

#tours {
	display:none;
}

.inputdiv {
	display:inline-block;
	border:0px solid #ed6c4b;
	margin:0px 5px;
	padding:5px;
}
.input{
	display:inline-table;
	border:1px solid #ed6c4b;
	margin:0px 5px;
	padding:16px 5px;
}
.input:focus{
    outline: none;
}
.button {	
	display: inline-table;
	border:1px solid #ed6c4b;
	border-radius:0%;
	background-color: ed6c4b;
    color: white;
    font:19px "Gloria Hallelujah";
	cursor:pointer;
	padding: 10px;
	vertical-align:sub;	
	text-align:center;
	margin: 0px 5px;
	user-select:none;	
	
}
.header {
	font: 20px "Gloria Hallelujah";
	color:#ed6c4b;
}


#results-div {
	width: 100%;
	margin: auto;
	padding:0;
}
#results {
	width: 100%;
	margin: auto;
	border-spacing:0px;
	text-align: center;
}
#results tr {
	height:40px;
}
#results tbody tr:nth-child(even){
   background-color: #F2F2F2;
}
#results th {
	padding: 10px;
	width:16.66%;
	height:50px;
	cursor:pointer;
	user-select: none;
}

#results thead {
    background-color:white;
    color:black;
    font-weight: bold;
	border:1px solid #ed6c4b;
	/*border-bottom: 1px solid black;*/
}
#results td a {
	color: black;
	text-style:underline;
}

#sorttable_sortrevind, #sorttable_sortfwdind  {
	position:absolute;
}

#notificationdiv {
	display:none;
	position:fixed;
	left: 50%;
	transform: translateX(-50%);
	top:30%;
	width:30%;
	border:1px solid #ed6c4b;
	/*border-radius:10px;*/
	background-color: white;
	padding:30px;
}
#notificationsclosediv {
	text-align:right
	
}
#notificationsclose {
	font:5px "Gloria Hallelujah";
}


#footer {
	display:table;
	position:fixed;
	left:50%;
	transform: translate(-50%, 0);
	width:100%;
	text-align:center;
	border:0;
	bottom:0%;
	padding:0;
	background-color:white;
	user-select:none;
	cursor:default;
}
#footer,#footer a{
	font:14px "Gloria Hallelujah";
	color: #ed6c4b;
}
#fakefooter {
	height:30px;
}