<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{STATIC_URL}}css/main.css" type="text/css" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/dhtmlxcalendar.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
	<script src="{{STATIC_URL}}js/cookie.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}js/moment.min.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}js/sorttable.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}js/dhtmlxcalendar.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}js/main.js" type="text/javascript"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ3Fc4HM2RrMtjsAyzx4HlkvxGgpLghe4&libraries=places"></script>
</head>
<body>
	<div id=header>
		<div id=name>BuggiesPooling</div>
	</div>
	<div id=notificationdiv>
		<div class=header>Receive notifications</div>
		<span>Your Email: <input  id=notificationemail class=input type=text /></span><div id=notificationsubmit class=button>Subscribe</div><br>
		<div class=button id=notificationclose>Close</div>
	</div>
	<div id=rides>
		<div id=input>
			<div id=totours class=button>Ride:</div>
			<div id=selectors>
				<div class="selector">
					<div class=inputdiv><input id=city1 class=input placeholder="Enter an origin" /> </div>
					<div class=inputdiv><input id=city2 class=input placeholder="Enter a destination" /> </div>
					<div class=inputdiv><input type=text id=dateafter class="input" />&#8211<input type=text class="input" id=dateuntil /></div>
				</div>
			</div>
			<div id=buttons>
				<div id=find class=button>Find</div> 
				<div id=notification class=button>Notify me!</div>
			</div>
		</div>
		<div id=results-div>
			<table id=results class=sortable>
				<thead>
					<tr>
						<th>From</th>
						<th>To</th>
						<th>Departure</th>
						<th>Estimated arrival</th>
						<th>Description</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody id=results-body>
				</tbody>
			</table>
			<div id=indicator>
				<object data="{{STATIC_URL}}svg/loading.svg" type="image/svg+xml">loading...</object>
			</div>
		</div>
	</div>
	<div id=tours>
		<div id=input>
			<div id=torides class=button>Tour:</div>
			<div id=selectors>
				<div class="selector">
					<div class=inputdiv><input id=city1 class=input placeholder="Enter an origin" /> </div>
					<div class=inputdiv><input id=city2 class=input placeholder="Enter a destination" /> </div>
					<div class=inputdiv><input type=text id=dateafter class="input" />&#8211<input type=text class="input" id=dateuntil /></div>
				</div>
				<div id=selectorsedit>
					<div id=selectorsadd class=button>
						<object width="12" height="12" class=button data=".{{STATIC_URL}}svg/plus.svg" type="image/svg+xml">+</object>
					</div>
					<div id=selectorsrm class=button>
						<object width="12" height="12" class=button data=".{{STATIC_URL}}svg/minus.svg" type="image/svg+xml">-</object>
					</div>
				</div>
			</div>
			<div id=buttons>
				<div id=find class=button>Find</div> 
				<div id=notification class=button>Notify me!</div>
			</div>
		</div>
		<div id=results-div>
			<table id=results class=sortable>
				<thead>
					<tr>
						<th>From</th>
						<th>To</th>
						<th>Departure</th>
						<th>Estimated arrival</th>
						<th>Description</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody id=results-body>
				</tbody>
			</table>
			<div id=indicator>
				<object data="{{STATIC_URL}}svg/loading.svg" type="image/svg+xml">loading...</object>
			</div>
		</div>
	</div>
	<div id=fakefooter></div>
	<div id=footer>
		Plan your carpooling trip easily!
		<a href="http://prevoz.org" target=_blank>Prevoz</a> and <a href="http://blablacar.com" target=_blank>Blablacar</a> on a single page!
	</div>
</body>
</html>